/* Write your code here. */
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
}
.bg {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.image {
  width: 100px;
  height: 100px;
  justify-content: center;
}
